.devices {
  margin-top: 60px;
  position: relative;

  @media (max-width: 1024px) {
    margin-top: 40px;
  }

  @media (max-width: 320px) {
    margin-top: 37px;
  }

  &__tablet {
    position: relative;

    &_frame {
      width: 700px;
      height: 530px;
      position: absolute;
      z-index: 1;
      left: 240px;

      @media (max-width: 1024px) {
        width: 460px;
        height: 350px;
        left: 260px;
      }

      @media (max-width: 320px) {
        height: 220px;
        width: 289px;
        left: 0;
      }
    }

    &_display {
      width: 659px;
      position: absolute;
      left: 254px;
      top: 18px;

      @media (max-width: 1024px) {
        width: 446px;
        left: 271px;
        top: 12px;
      }

      @media (max-width: 320px) {
        width: 274px;
        left: 5px;
        top: 10px;
      }
    }
  }

  &__mobile {
    width: 200px;
    position: absolute;
    top: 190px;
    left: 770px;
    z-index: 2;

    @media (max-width: 1024px) {
      width: 136px;
      top: 110px;
      left: 622px;
    }

    @media (max-width: 320px) {
      width: 85px;
      top: 98px;
      left: 172px;
      object-fit: cover;
    }
  }
}
