.futures {
  display: flex;
  flex-wrap: wrap;

  &__box {
    width: 234px;
    text-align: center;
    padding: 60px 0;
    border-left: 1px solid #fff;

    &:last-child {
      border-right: 1px solid #fff;

      @media (max-width: 320px) {
        border-right: none;
        flex: 0 0 100%;
      }
    }

    @media (max-width: 1024px) {
      width: 198px;
      padding: 30px 0;
    }

    @media (max-width: 320px) {
      border-left: none;
      border-bottom: 1px solid #fff;
    }

    @media (max-width: 320px) {
      width: 144px;
      padding: 15px 0;
    }
  }

  &__number {
    font-size: 64px;
    font-weight: 700;
    color: #fff;

    @media (max-width: 1024px) {
      font-size: 48px;
    }
  }

  &__text {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    margin-top: 1.25rem;

    @media (max-width: 1024px) {
      margin-top: 1rem;
    }

    @media (max-width: 320px) {
      font-size: 20px;
    }
  }
}
